extends layout

block content
  nav.navbar.sticky-top.navbar-dark.bg-primary
    a.navbar-brand(href='#') Better Buzzer
  container.fill
    .h-100.row.align-items-center
      .col  
        .card.text-center.w-50.shadow-lg 
          .card-header
            404
          .card-body
            h5.card-title=message
            a(href='/')
              button#hostButton.btn.btn-primary(type='button') Back to home page
          .card-footer.text-muted.copyright() © 2020

