extends common

block page
  script(src='/javascripts/lobby.js')
  link(rel='stylesheet', href='/stylesheets/lobby.css')
  .container
    .container.pageItem
      .buzzerBox
        #buzzerIndicator.indicatorNotActive
        #buzzerBottom.button.selectDisable
          button#buzzerTop
            img.selectDisable#buzzerButtonUnpressed(src='/images/buzzer-unpressed.svg' alt='Unpressed Buzzer' draggable='false')
            img.selectDisable#buzzerButtonPressed(hidden src='/images/buzzer-pressed.svg' alt='Pressed Buzzer' draggable='false')
          #buzzerLockoutText.selectDisable(hidden) Too Early

      





