.buzzerBox{
  height: 100%;
  background-color: #333;
  text-align: center;
}

.indicatorNotActive {
  margin:50px;
  width: 15vh;
  height: 15vh;
  border-radius:50px;
  background:#630808;
  display: inline-block;
}
  
.indicatorActive {
  margin:50px;
  width: 15vh;
  height: 15vh;
  background:#ff0000;
  box-shadow: 0 0 20px #fff;
}

#buzzerBottom{
  position: relative;
  background: #c0392b;
  height: 36vh;
  width: 60%;
  border-radius: 25px;
  margin: 0 20% 0 20%;
  text-align:center;
}
  
#buzzerTop{
  background: #c0392b;
  position: absolute;
  outline: none;
  border: none;
  width: min(60%, 36vh);
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%)  translateX(-50%);
}

#buzzerTop img {
  width: 100%;
}

#buzzerLockoutText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
}


@media (max-width: 768px) {
  .buzzerBox{
    margin-top: 10px;
  }

  .indicatorNotActive {
    margin: 0 0 10px 0;
    width: 80%;
    height: 4vh;
  }
  
  .indicatorActive {
    margin: 0 0 10px 0;
    width: 80%;
    height: 4vh;
    background:#ff0000;
    box-shadow: 0 0 20px #fff;
  }

  #buzzerBottom{
    height: 26vh;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  #buzzerTop{
    width: min(60%, 26vh);
  }
}